html {
  font-size: 100%;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', 'Noto Sans JP', sans-serif;
  color: #363636;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

p {
  line-height: 1.5;
  font-size: 14px;
}

@media screen and (min-width: 520px) {
  p {
    font-size: 20px;
  }
}

h1, h2 {
  font-family: "Baskerville", "Noto Serif JP";
  font-size: 24px;
  color: #585858;
}

@media screen and (min-width: 520px) {
  h1, h2 {
    font-size: 40px;
  }
}

@media screen and (min-width: 1025px) {
  h1, h2 {
    font-size: 64px;
  }
}

h3 {
  font-weight: bolder;
  font-size: 24px;
  color: #585858;
}

@media screen and (min-width: 520px) {
  h3 {
    font-size: 40px;
  }
}

.l-footer {
  position: relative;
  width: calc(100% + 40px);
  left: -20px;
}

@media screen and (min-width: 520px) {
  .l-footer {
    width: calc(100% + 80px);
    left: -40px;
  }
}

@media screen and (min-width: 1025px) {
  .l-footer {
    width: calc(100% + 120px);
    left: -60px;
  }
}

.l-aside {
  display: none;
}

.c-title--heading {
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin-left: 2rem;
  text-indent: -2rem;
  line-height: 1.5;
  z-index: 1;
}

.c-title--heading span {
  font-size: 18px;
}

.c-title--section {
  display: inline-block;
  border-bottom: solid 2px #707070;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.c-title--section span {
  font-size: 16px;
  padding-left: 20px;
}

.c-title--footer {
  font-size: 24px;
  font-family: 'Baskerville';
  font-weight: normal;
  padding: 20px;
  position: relative;
}

.c-title--footer::after {
  content: "";
  display: block;
  width: calc(100% + 40px);
  height: 1px;
  background: #838383;
  position: absolute;
  left: -20px;
}

.c-shadow {
  background-color: #fff;
  width: 300px;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: -20px;
  border-radius: 50%;
  opacity: .5;
}

.c-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 100px;
}

.c-card img {
  width: 30%;
  -webkit-box-shadow: 3px 3px 7px 0px #777777;
          box-shadow: 3px 3px 7px 0px #777777;
}

.c-card__content {
  margin-left: 16px;
  overflow: hidden;
  margin-bottom: 8px;
}

.c-card__content__date {
  margin-bottom: 10px;
}

.c-card__content__title {
  margin-bottom: 10px;
}

.c-card__content__text {
  font-size: 12px;
}

.c-button {
  text-align: center;
  position: relative;
}

.c-button a {
  font-weight: bold;
  padding-right: 10px;
  position: relative;
  -webkit-transition: .5s;
  transition: .5s;
}

.c-button a:hover {
  color: #A99D4D;
}

.c-arrow::before {
  content: "";
  position: absolute;
  top: 4px;
  right: -16px;
  width: 10px;
  height: 10px;
  border-top: 2px solid #A99D4D;
  border-right: 2px solid #A99D4D;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: 1;
}

.c-arrow::after {
  content: "";
  position: absolute;
  top: -2px;
  right: -24px;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background: #E2E2E2;
}

.p-top {
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10px;
}

.p-hero {
  height: 35vh;
  width: calc(100% + 40px);
  position: relative;
  left: -20px;
  background-image: url(/img/top-bg.png);
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
}

@media screen and (min-width: 520px) {
  .p-hero {
    height: 55vh;
    width: calc(100% + 80px);
    left: -40px;
  }
}

@media screen and (min-width: 1025px) {
  .p-hero {
    height: 500px;
    width: calc(100% + 120px);
    left: -60px;
  }
}

.p-subnav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.p-subnav ul li {
  font-size: 14px;
  border-bottom: 1px solid #707070;
  padding-bottom: 10px;
  position: relative;
  display: inline-block;
  -webkit-transition: .5s;
  transition: .5s;
}

.p-subnav ul li:hover {
  color: #A99D4D;
}

.p-subnav ul li::after {
  position: absolute;
  bottom: -2px;
  left: 0;
  content: '';
  width: 100%;
  height: 3px;
  background: white;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: right top;
          transform-origin: right top;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.p-subnav ul li:hover::after {
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.p-subnav ul li span {
  font-size: 12px;
}

.p-news__list {
  margin-bottom: 20px;
}

.p-news__list li {
  padding-bottom: 20px;
}

.p-section__content {
  margin-bottom: 40px;
}

.p-section__content img {
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  margin-bottom: 20px;
}

.p-footer {
  background: #707070;
  color: #b9b9b9;
  text-align: center;
  padding-bottom: 40px;
}

.p-footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: left;
}

.p-footer__content p {
  font-size: 10px;
}

.u-m-base {
  margin: 10px 20px 0;
}

@media screen and (min-width: 520px) {
  .u-m-base {
    margin: 20px 40px 0;
  }
}

@media screen and (min-width: 1025px) {
  .u-m-base {
    margin: 20px 60px 0;
  }
}

.u-mb-m > * {
  margin-bottom: 40px;
}

.u-mb-s > * {
  margin-bottom: 50px;
}
/*# sourceMappingURL=style.css.map */