html {
  font-size: 100%;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

p {
  line-height: 1.5;
  font-size: 12px;
}

@media screen and (min-width: 520px) {
  p {
    font-size: 20px;
  }
}

h1, h2 {
  font-family: "Baskerville";
  font-size: 24px;
}

@media screen and (min-width: 520px) {
  h1, h2 {
    font-size: 40px;
  }
}

@media screen and (min-width: 1025px) {
  h1, h2 {
    font-size: 64px;
  }
}

h3 {
  font-size: 24px;
}

@media screen and (min-width: 520px) {
  h3 {
    font-size: 40px;
  }
}

.c-title--heading {
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin-left: 2rem;
  text-indent: -2rem;
  line-height: 1.5;
  z-index: 1;
}

.c-title--heading span {
  font-size: 18px;
}

.c-title--section {
  display: inline-block;
  border-bottom: solid 2px black;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.c-title--section span {
  font-size: 16px;
  padding-left: 20px;
}

.c-shadow {
  background-color: #fff;
  width: 300px;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: -20px;
  border-radius: 50%;
}

.c-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-card img {
  width: 30%;
  -webkit-box-shadow: 2px 2px 8px 0px #777777;
          box-shadow: 2px 2px 8px 0px #777777;
}

.c-card__content {
  margin-left: 16px;
}

.c-card__content__date {
  margin-bottom: 10px;
}

.c-card__content__title {
  margin-bottom: 10px;
}

.c-button {
  text-align: center;
  width: 100%;
}

.c-button a {
  padding: 10px;
  background: yellow;
}

.p-top {
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10px;
}

.p-hero {
  height: 35vh;
  width: calc(100% + 40px);
  position: relative;
  left: -20px;
  background-image: url(/img/top-bg.png);
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
}

@media screen and (min-width: 520px) {
  .p-hero {
    height: 55vh;
    width: calc(100% + 80px);
    left: -40px;
  }
}

@media screen and (min-width: 1025px) {
  .p-hero {
    height: 500px;
    width: calc(100% + 120px);
    left: -60px;
  }
}

.p-subnav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.p-subnav ul li {
  font-size: 14px;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.p-subnav ul li span {
  font-size: 12px;
}

.p-news__list {
  margin-bottom: 20px;
}

.p-news__list li {
  padding-bottom: 20px;
}

.u-m-base {
  margin: 10px 20px 0;
}

@media screen and (min-width: 520px) {
  .u-m-base {
    margin: 20px 40px 0;
  }
}

@media screen and (min-width: 1025px) {
  .u-m-base {
    margin: 20px 60px 0;
  }
}

.u-mb-m > * {
  margin-bottom: 40px;
}

.u-mb-s > * {
  margin-bottom: 50px;
}
/*# sourceMappingURL=style.css.map */