.c-button {
    // padding: 20px;
    text-align: center;
    // width: 100%;
    position: relative;

    a {
        font-weight: bold;
        padding-right: 10px;
        position: relative;
        transition: .5s;
        &:hover {
            color: #A99D4D;
        }
    }
}
