.c-title--heading {
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin-left: 2rem;
    text-indent: -2rem;
    line-height: 1.5;
    z-index: 1;
    span {
        font-size: 18px;
    }
}
.c-title--section {
    display: inline-block;
    border-bottom: solid 2px $color-gray--footer;
    padding-bottom: 10px;
    margin-bottom: 20px;
    span {
        font-size: 16px;
        padding-left: 20px;
    }
}
.c-title--footer {
    font-size: 24px;
    font-family: 'Baskerville';
    font-weight: normal;
    padding: 20px;
    position: relative;
    &::after{
        content:"";
        display:block;
        width: calc(100% + 40px);
        height:1px;
        background: $color-gray--border;
        position:absolute;
        // bottom:0;
        left:-20px;
     }
}